<div class="navbar">
  <mat-toolbar color="primary" class="nav-container">
    <div id="nav-container__title">Pizza Mart</div>
    <ul>
      <li
        [routerLink]="['/products-admin', { isAdmin: true }]"
        routerLinkActive="highlight"
      >
        Admin
      </li>
      <li [routerLink]="['/products']" routerLinkActive="highlight">Store</li>
      <li (click)="checkout()">
        <mat-icon
          [matBadge]="_dataStore?.cartQty"
          matBadgeColor="warn"
          matBadgeSize="small"
          matBadgeOverlap="false"
          >shopping_cart</mat-icon
        >
      </li>
    </ul>
  </mat-toolbar>
</div>

<div class="routerOutlet">
  <router-outlet></router-outlet>
</div>
